.header{
    background-color: $main-bg-color;
    padding: 10px 30px;
    border-bottom: 2px solid $border-color;
    .wrapper{
        margin: 0 auto;
        @include flex (center, space-around, row);
    }
    &__item{
        &:first-child{
            flex-grow: 1;
        }
    }
    &__logo{
        height: 120px;
        transition: .2s cubic-bezier(0.42, 0, 0, 2.01);
        &:hover{
            transform: scale(1.1);
        }
    }
    &__link{
        margin-right: 20px;
        transition: .4s;
        &:hover{
            letter-spacing: .1rem;
            color: #5ca795;
        }
    }
}